.profile-page {
  padding: 2.625rem 1.25rem;
  background-color: var(--bg_main);
  @media (max-width: 480px) {
    padding: 3.75rem 0.9375rem 1rem 0.9375rem;
  }
}
.profile-page__wrapper {
  margin-top: 2rem;
  display: flex;
  gap: 1.25rem;
  @media (max-width: 920px) {
    flex-direction: column;
    gap: 3rem;
  }
  @media (max-width: 480px) {
    gap: 2.5rem;
  }
}
.profile-page__left-side {
  position: relative;
}
.profile-page__right-side {
  flex: 1;
}
.profile-page__head {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.5rem;
  @media (max-width: 480px) {
    flex-wrap: wrap;
    gap: 1.25rem;
  }
}
.profile-page__title {
  font-size: 2rem;
  line-height: 1.2;
  margin: 0;
}
.profile-page__card {
  position: sticky;
  top: 1.25rem;

  @media (max-width: 920px) {
    display: flex;
    gap: 1.25rem;
  }

  @media (max-width: 480px) {
    display: block;
  }
}
.profile-page__tasks {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 0.75rem;
}
.profile-page__task {
  @media (min-width: 1440px) {
    flex: 1 1 49%;
  }
}
