.feedback-form__textarea {
  border: 0.0625rem solid var(--white);
  background-color: var(--white);
  border-radius: 0.5rem;
  padding: 0.75rem;
  width: 100%;
  margin-bottom: 1rem;
  resize: vertical;
  &::placeholder {
    color: var(--tag_gray_body);
    font-size: 0.875rem;
    font-weight: 700;
    opacity: 0.35;
  }
}

.feedback-form__input {
  width: 100%;
  display: block;
  & + & {
    margin-top: 0.75rem;
  }
}

.feedback-form__checkbox {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
  input {
    flex-shrink: 0;
    border: 1px solid var(--tag_gray_body);
    width: 1.125rem;
    height: 1.125rem;
  }
}
